.btn_{
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 15px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
}
.btn_primary{
  background-color: #0c55d4da;
  border: none;
  color: #fff;
  text-align: center;
  margin: .5rem 0;
  display: block;
  border-radius: 5px;
  font-weight: bold;
  
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn_primary:hover{
  background-color: rgba(255,255,255,.7);
  color: #0c55d4da;
}
.btn_light {
  border: none;
  color: var(--dark-blue);
  text-align: center;
  margin: .5rem 0;
  display: block;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.8);
}
.invisible{
  visibility: hidden;
}