.btn_primary{
  background-color: #0c55d4da;
  padding: 13px 30px;
  border: none;
  color: #fff;
  text-align: center;
  margin: 1.5rem auto;
  display: block;
  border-radius: 5px;
  font-weight: bold;
  
}