.auth {
  padding: 20px 20px;
  color: white;
}

.glass_form {
  box-sizing: border-box;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
  max-width: 600px;
  margin: 2rem auto;
  padding: 20px 30px;
  background: linear-gradient(
    140.7deg,
    rgba(255, 255, 255, 0.1) 2.11%,
    rgba(255, 255, 255, 0.025) 96.35%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.header {
  text-align: center;
  color: #fff;
}

.auth_alt {
  margin-top: 2rem;
  position: relative;
  display: block;
  text-align: center;
  position: relative;
}

.auth_alt::after {
  position: absolute;
  right: 0;
  width: calc(50% - 50px);
  height: 3px;
  background-color: #ffffffa2;
  content: "";
  top: 50%;
}

.auth_alt::before {
  left: 0;
  position: absolute;
  width: calc(50% - 50px);
  height: 3px;
  background-color: #ffffffa2;
  content: "";
  top: 50%;
}
.social_auth {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.social_auth>a {
  margin: 0 1.5rem;
  background-color: rgba(255,255,255,.7);
  padding: 5px 5px;
  border-radius: 4px;
  text-decoration: none;
  transition: all .3s ease;
  fill: #007bff;
}
.social_auth>a:hover{
  text-decoration: none;
  opacity: .7;
}
@media(max-width:600px){
  .social_auth>a {
    margin: 0;
  }
  .social_auth{
    justify-content: space-between;
  }
}

.errors{
  color:#c4183c;
}
.auth strong a{
  color: #fff;
  font-weight: 600;
}