.img_fluid {
  height: auto;
  width: 100%;
  border-radius: 10px;
  

}
.profile {
  max-width: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 200px;
  flex-shrink:0;
  margin-bottom: 1rem;
  
}
.profile__top {
  background-color: lightgray;
  height: 200px;
}
.profile__bottom {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 31.914893617021278%,
    1% 33.687943262411345%,
    2% 35.1063829787234%,
    3% 36.52482269503546%,
    4% 37.5886524822695%,
    5% 39.00709219858156%,
    6% 40.42553191489361%,
    7% 41.48936170212766%,
    8% 42.5531914893617%,
    9% 43.61702127659575%,
    10% 44.680851063829785%,
    11% 45.744680851063826%,
    12% 46.45390070921986%,
    13% 47.16312056737589%,
    14% 47.87234042553192%,
    15% 48.226950354609926%,
    16% 48.93617021276596%,
    17% 49.29078014184397%,
    18% 49.645390070921984%,
    19% 49.645390070921984%,
    20% 49.645390070921984%,
    21% 49.645390070921984%,
    22% 49.645390070921984%,
    23% 49.645390070921984%,
    24% 49.29078014184397%,
    25% 48.93617021276596%,
    26% 48.226950354609926%,
    27% 47.87234042553192%,
    28% 47.16312056737589%,
    29% 46.45390070921986%,
    30% 45.39007092198582%,
    31% 44.680851063829785%,
    32% 43.61702127659575%,
    33% 42.5531914893617%,
    34% 41.48936170212766%,
    35% 40.0709219858156%,
    36% 39.00709219858156%,
    37% 37.5886524822695%,
    38% 36.17021276595745%,
    39% 34.751773049645394%,
    40% 33.33333333333333%,
    41% 31.914893617021278%,
    42% 30.141843971631204%,
    43% 28.723404255319153%,
    44% 27.30496453900709%,
    45% 25.53191489361702%,
    46% 24.113475177304963%,
    47% 22.69503546099291%,
    48% 20.921985815602838%,
    49% 19.50354609929078%,
    50% 18.085106382978726%,
    51% 16.312056737588655%,
    52% 14.893617021276595%,
    53% 13.47517730496454%,
    54% 12.411347517730496%,
    55% 10.99290780141844%,
    56% 9.574468085106384%,
    57% 8.51063829787234%,
    58% 7.446808510638298%,
    59% 6.382978723404255%,
    60% 5.319148936170213%,
    61% 4.25531914893617%,
    62% 3.546099290780142%,
    63% 2.8368794326241136%,
    64% 2.127659574468085%,
    65% 1.773049645390071%,
    66% 1.0638297872340425%,
    67% 0.7092198581560284%,
    68% 0.3546099290780142%,
    69% 0.3546099290780142%,
    70% 0.3546099290780142%,
    71% 0.3546099290780142%,
    72% 0.3546099290780142%,
    73% 0.3546099290780142%,
    74% 0.7092198581560284%,
    75% 1.0638297872340425%,
    76% 1.773049645390071%,
    77% 2.127659574468085%,
    78% 2.8368794326241136%,
    79% 3.546099290780142%,
    80% 4.609929078014184%,
    81% 5.319148936170213%,
    82% 6.382978723404255%,
    83% 7.446808510638298%,
    84% 8.51063829787234%,
    85% 9.929078014184398%,
    86% 10.99290780141844%,
    87% 12.411347517730496%,
    88% 13.829787234042554%,
    89% 15.24822695035461%,
    90% 16.666666666666664%,
    91% 18.085106382978726%,
    92% 19.858156028368796%,
    93% 21.27659574468085%,
    94% 22.69503546099291%,
    95% 24.46808510638298%,
    96% 25.886524822695034%,
    97% 27.30496453900709%,
    98% 29.078014184397162%,
    99% 30.49645390070922%,
    100% 31.914893617021278%
  );
  background-color: var(--white);
  padding: 5rem 1rem 2rem 1rem;
  width: 100%;
  margin-top: -5rem;
  
}
.name{
    font-weight: bold;
}