.input_text {
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 8px;
    color:var(--black);
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    outline: none;
}

.input_text:focus{
    background: rgba(255, 255, 255, 0.6);
}
