.input_field {
    display: flex;
    align-items: center;
    margin-bottom:10px;
    margin-top: 10px;
   
}
.input_text {
    height: auto;
    padding: 0.4375rem 0.75rem;
    font-size: 0.8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    width: 100%;
    will-change: border-color, box-shadow;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06),
      border 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

.input_text:focus{
    background: rgba(255, 255, 255, 0.6);
}
.password_input{
    width:calc(100% - 30px) !important;
    border-radius: .25rem 0 0 .25rem !important;

}
.password_input:hover{
    border-radius: .25rem 0 0 .25rem !important;
}
.password_addon{
    color: #495057;
    width: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-self:center;
    height: 100%;
    padding: 0.3387rem 0 ;
    font-size: 0.8125rem;
    cursor: pointer;
    border-radius: 0  0.25rem 0.25rem 0;
}
.password_addon:hover{
    text-decoration: none;
}
.input_text:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  