.B {
  fill: #0d3885;
}
.C {
  fill: #0050f0;
}
.D {
  fill: #fff;
}
.E {
  fill: #5a94fd;
}
.F {
  fill: #1869f8;
}
.G {
  fill: #b2ccfc;
}
.H {
  fill: #c7dafc;
}
.I {
  fill: #f8bea1;
}
.J {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
