.C {
  fill: #0050f0;
}
.D {
  fill: #5a94fd;
}
.E {
  fill: #1869f8;
}
.F {
  fill: #fff;
}
.G {
  fill: #b2ccfc;
}
.H {
  fill: #c7dafc;
}
.I {
  fill: #f8bea1;
}
.B {
  fill: #0d3885;
}
#A_S svg {
  filter: grayscale();
}
