.home {
  width: 100vw;
}

.site_hero {
  color: var(--dark-black) !important;
}
.site_hero__content {
  display: flex;
  align-items: center;
  color: inherit;
  height: 100vh;
  min-height: 600px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-between;
}

.site_hero__content svg {
  width: 100%;
  max-width: 500px;
}
.front_layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  color: var(--white) !important;
  display: none;
}

.site_hero__text {
  max-width: 500px;
  font-weight: 600;
  font-family: var(--font-family-sans-serif);
  line-height: 1.2;
  margin-top: 1rem;
}

.site_hero__btn {
  border-radius: 999px;
  border: none;
  padding: 10px 40px;
  display: inline-block;
  margin: 1rem auto 0;
  text-decoration: none;
  color: white;
  background: linear-gradient(115deg, #fd0079 50%, #ffd200 100%);
}
.site_hero__btn:hover {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.site_hero__header {
  font-weight: 800;
}

.header {
  color: var(--dark-black);
  text-align: center;
  position: relative;
  margin: auto;
  width: min-content;
}

.events {
  margin-top: 3rem;
  padding-left: 1rem;
  background-size: cover;
  background-image: url(../../../assets/vectors/lblue-wave--stacked-thin.svg);
}
.events > div {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.events__timeline {
  position: relative;
  padding-left: 32px;
  margin: 3rem auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.events__timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--blue);
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  border-radius: 5px;
}

.events__timeline__card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.events__timeline__card::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -42px;
  background-color: var(--background);
  border: 4px solid var(--blue);
  top: 50%;
  border-radius: 50%;
  z-index: 1;
  animation: pulse 1s infinite;
  box-sizing: content-box;
}

@media (min-width: 1100px) {
  .events__timeline::after {
    left: 50%;
    width: 10px;
  }
  .events__timeline__card {
    max-width: calc(50% - 30px);
  }
  .events__timeline__card:nth-child(even) {
    left: calc(50% + 15px);
    margin-left: 0;
  }
  .events__timeline__card:nth-child(even)::after {
    left: -40px;
  }
  .events__timeline__card:nth-child(odd):after {
    left: calc(100% + 5px) !important;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #4f7aefaf;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #4f7aef00;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #4f7aef00;
  }
}

.about .header {
  margin-top: 2rem;
}
.about__content {
  margin: 3rem auto;
  max-width: 1200px;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.about__content__text {
  flex: 1;
  margin-top: 1rem;
}
.about__content__image {
  width: 50%;
  max-width: 500px;
}
.about__content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about p {
  font-size: 15px;
}


.sub_header {
  color: var(--dark-black);
  text-align: center;
  margin-bottom: 0.5rem;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.team {
  overflow: hidden;
  max-width: 1200px;
  margin: 4rem auto;
}
.sub_description {
  text-align: center;
  color: var(--gray);
}
.team_slideShow {
  margin-top: 3rem;
  transition: transform 1s linear;
  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 15s linear infinite;
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

@keyframes moveSlideshow {
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.testimonial__slider {
  position: relative;
  max-width: 1200px;
  min-height: 300px;
  margin: 0 auto;
  transition: height 0.5s linear;
}
.testimonial__slider__controls {
  left: 20px;
  bottom: 40px;
  z-index: 1;
  position: absolute;
  width: calc(100% - 20px);
}
.prev,
.next {
  border: none;
  outline: none;
  font-size: 2.5rem;
  width: 40px;
  align-items: center;
  padding: 0;
  color: var(--gray);
  background-color: transparent;
  cursor: pointer;
}
.next {
  right: 20px;
  position: absolute;
}
.prev {
  left: 0;
}

.wave.flip svg {
  top: -3px;
  left: -4%;
  width: 110%;
  display: block;
  height: auto;
  position: relative;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wave {
  overflow: hidden;
  width: 100%;
  height: 100px;
}

/**/
.about__content p {
  max-width: 500px;
  margin-top: 1rem;
}

.about__content .sub_header {
  text-align: left;
}
.about__content .btn {
  border-radius: 999px;
  border: 2px solid black;
  padding: 13px 40px;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.curve__bottom,
.curve__bottom svg {
  margin-bottom: -4px;
}



@media (max-width: 678px) {
  .about__content {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 0;
  }
  .about__content__image {
    width: 100%;
    max-width: 500px;
  }
  .site_hero__content {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .site_hero__content > div {
    width: 100%;
  }
  .site_hero__content svg {
    margin-bottom: 2rem;
  }
}


