.footer {
    margin-top: 3rem;
    width: 100%;
    padding-top: 5.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    align-items: center;
    background: linear-gradient(90deg, #295EEE 5%, #32DED4 95%);
    clip-path: polygon(100% 100%, 0% 100%,  0% 36.28185907046477%,  1% 37.48125937031484%,  2% 38.68065967016492%,  3% 39.88005997001499%,  4% 40.779610194902546%,  5% 41.67916041979011%,  6% 42.4287856071964%,  7% 43.02848575712144%,  8% 43.47826086956522%,  9% 43.77811094452774%,  10% 43.77811094452774%,  11% 43.77811094452774%,  12% 43.62818590704648%,  13% 43.1784107946027%,  14% 42.728635682158924%,  15% 41.97901049475262%,  16% 41.22938530734633%,  17% 40.17991004497751%,  18% 39.130434782608695%,  19% 38.08095952023988%,  20% 36.8815592203898%,  21% 35.532233883058474%,  22% 34.33283358320839%,  23% 32.98350824587706%,  24% 31.63418290854573%,  25% 30.284857571214392%,  26% 29.08545727136432%,  27% 27.886056971514243%,  28% 26.83658170914543%,  29% 25.937031484257872%,  30% 25.037481259370313%,  31% 24.28785607196402%,  32% 23.68815592203898%,  33% 23.238380809595203%,  34% 22.938530734632685%,  35% 22.788605697151425%,  36% 22.938530734632685%,  37% 23.088455772113946%,  38% 23.53823088455772%,  39% 23.988005997001498%,  40% 24.737631184407796%,  41% 25.487256371814095%,  42% 26.38680659670165%,  43% 27.436281859070466%,  44% 28.635682158920538%,  45% 29.83508245877061%,  46% 31.03448275862069%,  47% 32.38380809595202%,  48% 33.733133433283356%,  49% 35.08245877061469%,  50% 36.28185907046477%,  51% 37.48125937031484%,  52% 38.68065967016492%,  53% 39.88005997001499%,  54% 40.779610194902546%,  55% 41.67916041979011%,  56% 42.4287856071964%,  57% 43.02848575712144%,  58% 43.47826086956522%,  59% 43.77811094452774%,  60% 43.77811094452774%,  61% 43.77811094452774%,  62% 43.62818590704648%,  63% 43.1784107946027%,  64% 42.728635682158924%,  65% 41.97901049475262%,  66% 41.22938530734633%,  67% 40.17991004497751%,  68% 39.130434782608695%,  69% 38.08095952023988%,  70% 36.8815592203898%,  71% 35.532233883058474%,  72% 34.33283358320839%,  73% 32.98350824587706%,  74% 31.63418290854573%,  75% 30.284857571214392%,  76% 29.08545727136432%,  77% 27.886056971514243%,  78% 26.83658170914543%,  79% 25.937031484257872%,  80% 25.037481259370313%,  81% 24.28785607196402%,  82% 23.68815592203898%,  83% 23.238380809595203%,  84% 22.938530734632685%,  85% 22.788605697151425%,  86% 22.938530734632685%,  87% 23.088455772113946%,  88% 23.53823088455772%,  89% 23.988005997001498%,  90% 24.737631184407796%,  91% 25.487256371814095%,  92% 26.38680659670165%,  93% 27.436281859070466%,  94% 28.635682158920538%,  95% 29.83508245877061%,  96% 31.03448275862069%,  97% 32.38380809595202%,  98% 33.733133433283356%,  99% 35.08245877061469%,  100% 36.28185907046477%);
}

.share_icon {
    margin: 0 .5rem;
}

.share_icon>svg {
    height: 40px;
    width: 40px;
    
}
.share_icon>svg>path{
    fill:hsla(0,0%,100%,.75)
}