.footer {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    align-items: center;
    background: linear-gradient(90deg, #295EEE 5%, #32DED4 95%);
    clip-path: polygon(100% 100%, 0% 100%, 0% 45.193929173693085%, 1% 45.02529510961214%, 2% 45.02529510961214%, 3% 44.68802698145025%, 4% 44.35075885328836%, 5% 44.01349072512647%, 6% 43.3389544688027%, 7% 42.83305227655986%, 8% 42.158516020236085%, 9% 41.31534569983137%, 10% 40.640809443507585%, 11% 39.62900505902192%, 12% 38.785834738617204%, 13% 37.77403035413153%, 14% 36.76222596964587%, 15% 35.750421585160204%, 16% 34.56998313659359%, 17% 33.55817875210793%, 18% 32.54637436762226%, 19% 31.365935919055648%, 20% 30.354131534569984%, 21% 29.34232715008432%, 22% 28.330522765598655%, 23% 27.318718381112983%, 24% 26.475548060708263%, 25% 25.632377740303543%, 26% 24.78920741989882%, 27% 24.11467116357504%, 28% 23.440134907251263%, 29% 22.93423271500843%, 30% 22.4283305227656%, 31% 22.09106239460371%, 32% 21.75379426644182%, 33% 21.585160202360875%, 34% 21.585160202360875%, 35% 21.585160202360875%, 36% 21.585160202360875%, 37% 21.922428330522767%, 38% 22.09106239460371%, 39% 22.596964586846543%, 40% 22.93423271500843%, 41% 23.608768971332207%, 42% 24.283305227655987%, 43% 24.957841483979763%, 44% 25.801011804384487%, 45% 26.644182124789207%, 46% 27.48735244519393%, 47% 28.499156829679595%, 48% 29.51096121416526%, 49% 30.522765598650924%, 50% 31.534569983136596%, 51% 32.54637436762226%, 52% 33.726812816188875%, 53% 34.73861720067454%, 54% 35.750421585160204%, 55% 36.930860033726816%, 56% 37.94266441821248%, 57% 38.785834738617204%, 58% 39.79763912310287%, 59% 40.640809443507585%, 60% 41.48397976391231%, 61% 42.158516020236085%, 62% 42.83305227655986%, 63% 43.50758853288364%, 64% 44.01349072512647%, 65% 44.35075885328836%, 66% 44.68802698145025%, 67% 45.02529510961214%, 68% 45.02529510961214%, 69% 45.193929173693085%, 70% 45.02529510961214%, 71% 44.8566610455312%, 72% 44.68802698145025%, 73% 44.35075885328836%, 74% 43.84485666104553%, 75% 43.3389544688027%, 76% 42.66441821247892%, 77% 41.989881956155145%, 78% 41.31534569983137%, 79% 40.472175379426645%, 80% 39.62900505902192%, 81% 38.61720067453626%, 82% 37.60539629005059%, 83% 36.59359190556493%, 84% 35.58178752107926%, 85% 34.56998313659359%, 86% 33.38954468802699%, 87% 32.377740303541316%, 88% 31.365935919055648%, 89% 30.185497470489036%, 90% 29.17369308600337%, 91% 28.330522765598655%, 92% 27.318718381112983%, 93% 26.475548060708263%, 94% 25.632377740303543%, 95% 24.78920741989882%, 96% 24.11467116357504%, 97% 23.440134907251263%, 98% 22.93423271500843%, 99% 22.4283305227656%, 100% 22.09106239460371%)
}

.share_icon {
    margin: 0 .5rem;
}

.share_icon>svg {
    height: 40px;
    width: 40px;
    
}
.share_icon>svg>path{
    fill:hsla(0,0%,100%,.75)
}