html {
  box-sizing: border-box;
}

:root {
  --primary: #0A73FA;
  --background: #F0F0F0;
  --white: #fff;
  --black: #0b090a;
  --dark-blue: #295EEE;
  --gray: #7d7c83;
  --purple: #B86DDE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: var(--background);
  color: var(--black);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}