.img_fluid {
  height: auto;
  width: 100%;
  border-radius: 10px;
  

}

.profile {
  max-width: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 200px;
  flex-shrink:0;
  margin-bottom: 1rem;
  
}
.profile__top {
  background-color: lightgray;
  height: 200px;
}
.profile__bottom {
  width: 100%;
  margin-top: -5rem;
  position: relative;
  z-index: 10;
  
}
.profile__text{
  background-color: var(--white);
  padding: 0 1rem 1rem;
}
.profile__bottom svg{
  position: relative;
  left: -3px;
  top: 3px;
}
.name{
    font-weight: bold;
}